<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans.xsd  
            http://code.alibabatech.com/schema/dubbo  
            http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application name="fs-game-dubboxService" />

	<!-- 使用zookeeper注册中心暴露服务地址 -->
	<!-- <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" /> -->
	
	<!-- 广播地址作为注册中心 -->
	<dubbo:registry address="${dubbo.multi.address}" />

	<dubbo:protocol name="dubbo" port="20802" id="dubbo" serialization="kryo" optimizer="com.fashionsuperman.fs.game.dubboxService.common.SerializationOptimizerImpl"/>
	
	<dubbo:protocol name="rest" port="8081" id="rest" contextpath="fs-game-service" server="tomcat"
			extension="com.fashionSuperman.fs.core.jaxws.OpetionsMethodFilter,
					   com.fashionSuperman.fs.core.jaxws.FormatRestDataFilter,
					   com.fashionSuperman.fs.core.jaxws.CustomExceptionMapper"/>
	
	<!-- 监控中心配置，protocol="registry"，表示从注册中心发现监控中心地址 -->
	<!-- <dubbo:monitor protocol="registry"/> -->

	<!-- 当ProtocolConfig和ServiceConfig某属性没有配置时,采用此缺省值 -->
	<dubbo:provider timeout="10000" threadpool="fixed" threads="100" accepts="1000" protocol="dubbo"/>

	<!-- 对外公布接口 retries 失败后，重复调用次数 loadbalance 负载平衡的方法 actives -->
	<dubbo:service protocol="rest" retries="0"  interface="com.fashionsuperman.fs.game.facet.user.UserI" ref="UserServiceX" />
	<dubbo:service protocol="rest" retries="0"  interface="com.fashionsuperman.fs.game.facet.trade.ShopI" ref="ShopServiceX" />
	<dubbo:service protocol="rest" retries="0"  interface="com.fashionsuperman.fs.game.facet.trade.PackageI" ref="PackageServiceX" />
	<dubbo:service protocol="rest" retries="0"  interface="com.fashionsuperman.fs.game.facet.rank.RankServiceI" ref="RankServiceX" />
	<dubbo:service protocol="rest" retries="0"  interface="com.fashionsuperman.fs.game.facet.biz.DogBizServiceI" ref="DogBizServiceX" />
	<!-- <dubbo:service retries="0"  interface="com.fashionSuperman.fs.dubbo.facet.inter.UserInterface" ref="userServiceImpl" /> -->
</beans>  