<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fashionsuperman.fs.game.dao.mapper.CommodityMapper" >
  <insert id="insertIncrement" parameterType="com.fashionsuperman.fs.game.dao.entity.Commodity">
  	insert into commodity (CommodityCatagoryId, CommodityName, 
      CommodityDes)
    values (#{commoditycatagoryid,jdbcType=BIGINT}, #{commodityname,jdbcType=VARCHAR}, 
      #{commoditydes,jdbcType=VARCHAR})
  </insert>
  
  <select id="selectByCommodityName" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from commodity
    where CommodityName = #{value,jdbcType=VARCHAR}
  </select>
</mapper>