<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fashionsuperman.fs.game.dao.mapper.CommodityCatagoryMapper" >
  <select id="selectByCatagoryName" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from commoditycatagory
    where CatagoryName = #{catagoryname,jdbcType=VARCHAR}
  </select>
  
  <insert id="insertIncrement" parameterType="com.fashionsuperman.fs.game.dao.entity.CommodityCatagory">
  	insert into commoditycatagory (CatagoryName)
    values (#{catagoryname,jdbcType=VARCHAR})
  </insert>
  
  <select id="selectByParam" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from commoditycatagory t
    <where>
    	<if test="catagoryname != null and catagoryname != ''">
    		t.CatagoryName like concat('%',#{catagoryname,jdbcType=VARCHAR},'%')
    	</if>
    </where>
  </select>

</mapper>