<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fashionsuperman.fs.game.dao.mapper.UserPackageMapper" >
  <select id="getUserPackageList" parameterType="java.util.Map" resultType="com.fashionsuperman.fs.game.dao.entity.custom.UserPackageListCustom">
  	select
  	
  	t2.CommodityId as commodityid, 
  	t2.CommodityCatagoryId as commoditycatagoryid, 
  	t2.CommodityName as commodityname, 
  	t2.CommodityDes as commoditydes,
  	t1.Number as number
  	
  	from 
  	UserPackage t
  	left join Package t1 join Commodity t2 on t1.CommodityId = t2.CommodityId
  	on t.PackageId = t1.PackageId
  	
  	<where>
  		<if test="userid != null">
  			t.UserId = #{userid,jdbcType=BIGINT}
  		</if>
  		<if test="catagoryid != null">
  			and t2.CommodityCatagoryId = #{catagoryid,jdbcType=BIGINT}
  		</if>
  		<if test="commodityname != null">
  			and t2.CommodityName like concat('%',#{commodityname,jdbcType=VARCHAR},'%')
  		</if>
  	</where>
  
  </select>
  
  <select id="getUserPackageList2" 
	  parameterType="java.lang.Long" 
	  resultType="com.fashionsuperman.fs.game.dao.entity.custom.ResGetUserPackageList">
  	select 
  	
  	t1.PackageId as packageid,
  	t3.CatagoryId as catagoryid,
  	t3.CatagoryName as catagoryname,
  	t2.CommodityId as commodityid,
  	t2.CommodityName as commodityname,
  	t1.Number as number
  	
  	from 
  	UserPackage t
  	left join Package t1 left join Commodity t2 left join CommodityCatagory t3 on t2.CommodityCatagoryId = t3.CatagoryId on t1.CommodityId = t2.CommodityId 
  	on t.PackageId = t1.PackageId
  	
  	where t.UserId = #{value,jdbcType=BIGINT}
  	
  
  </select>
  
  
  <select id = "getUserFooCommodityNum" parameterType="java.util.Map" resultType="java.lang.Integer">
  	select
  	t1.Number
  	from 
  	UserPackage t
  	left join Package t1
  	on t.PackageId = t1.PackageId
  	
  	<where>
  		<if test="userid != null">
  			t.UserId = #{userid,jdbcType=BIGINT}
  		</if>
  		<if test="commodityid != null">
  			and t1.CommodityId = #{commodityid,jdbcType=BIGINT}
  		</if>
  	</where>
  </select>
  
  <select id="selectFooUserFooCommodity" 
  parameterType="java.util.Map" 
  resultType="com.fashionsuperman.fs.game.dao.entity.Package">
  	select 
  	
  	t2.PackageId as packageid, 
  	t2.CommodityId as commodityid, 
  	t2.Number as number
  	
  	from 
  	
  	UserPackage t1 join Package t2 on t1.PackageId = t2.PackageId
  	
  	<where>
  		<if test="userid != null">
  			t1.UserId = #{userid,jdbcType=BIGINT}
  		</if>
  		<if test="commodityid != null">
  			and t2.CommodityId = #{commodityid,jdbcType=BIGINT}
  		</if>
  	</where>
  
  </select>
</mapper>